doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0', initial-scale='1.0')
        base(href=baseURL)
        title=title
        meta(name='description', content=description)

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- WARNING: Respond.js doesn't work if you view the page via file://
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->

    - var bodyClass = appName + '-component'
    - if (hasNav) bodyClass += ' has-nav'
    body(class=bodyClass)
        if inProduction
            include ./analytics.jade

        header
            != navbarView

        .container-fluid.components-container
            main(class='row main')
                .app-wrapper
                    if appView
                        div(class='app-#{appName}')
                            != appView

        != footerView

        != sharify.script()

        each asset in assets.css
            link(href='#{getHost()}/assets/#{asset}', rel='stylesheet', type='text/css')
        link(href='//fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')

        each asset in assets.js
            script(src='#{getHost()}/assets/#{asset}')
