each post in posts
    article.post
        time.post-date #{post.date}
        h2
            a(href='#{sd.APP_URL}/#{post.slug}') #{post.title}
        | !{post.abstract}

p.pagination
    unless isLastPage
        a.prev(href='#{sd.APP_URL}#{nextPageUrl}', data-behavior='paginate', data-page=page+1) Older posts
    if isFirstPage
        a.prev(href='#{sd.APP_URL}#{prevPageUrl}', data-behavior='paginate', data-page=page-1) Newer posts
