h1 Rafael's Blog

each post in posts
    article.post
        h2
            a(href='#{post.postUrl}', data-behavior='view-post', data-id='#{post.id}')
                | #{post.title}
        | !{post.abstract}

p.pagination
    - var classes = 'btn'
    - if (isLastPage) classes += ' disabled'
    a(class=classes, href='#{nextPageUrl}', data-behavior='paginate', data-page=page+1) Older posts
    - var classes = 'btn'
    - if (isFirstPage) classes += ' disabled'
    a(class=classes, href='#{prevPageUrl}', data-behavior='paginate', data-page=page-1) Newer posts
