script(id='portfolio-gotest', data-sort='12', type='text/x-handlebars-template')
    .portfolio-item
        img.img-polaroid(src='#{getHost()}/images/portfolio/gotest/gotest-thumb.jpg', alt='Online testing and grading thumbnail')
        h3 Onilne testing and grading
        p.lead An application to give interactive and traditional tests online.

    .hidden
        button.close.fa.fa-close
        .item-more
            .images
                .inner-wrap
                    img(src='#{getHost()}/images/portfolio/gotest/gotest-landing.jpg', alt='GoTest landing page')
                    img(src='#{getHost()}/images/portfolio/gotest/gotest-add-test.jpg', alt='GoTest Add a test')
                    img(src='#{getHost()}/images/portfolio/gotest/gotest-sessions-list.jpg', alt='GoTest Sessions list')
                    img(src='#{getHost()}/images/portfolio/gotest/gotest-interactive-presenter.jpg', alt='GoTest Presenter giving a test')

            article
                p With technology evolving, I thought of providing a free application that would allow teachers to create test on the web. These tests could be taken on a any device, a student could use a smartphone, tablet or computer and they would be able to take a test.
                p The most exciting feature of this site, is the ability to give interactive tests. This feature allows a teacher to control which question the students sees, allowing the teacher to move forward as needed while teaching. This can lend for much better comprehension of a subject because the student must pay attention to the lecture as there will be a question in the near future.
                p: strong Technologies used:
                ul
                    li PHP
                    li MySQL
                    li JavaScript
                    li node.js
                    li RESTful API
                    li: a(href='http://laravel.com/') Laravel
                    li GIT
                p: strong Further links:
                ul
                    li: a(href='http://gotest.org/') GoTest.org
