.portfolio-item
    img.img-polaroid(src='#{getHost()}/images/portfolio/jphoto/slideshow-gallery-thumb.jpg', alt='Slideshow plugin thumbnail')
    h3 JPhoto
    p.lead This extension provides a photography gallery solution for Joomla!

.hidden
    button.close.fa.fa-close
    .item-more
        .images
            .inner-wrap
                img(src='#{getHost()}/images/portfolio/jphoto/slideshow-gallery.jpg', alt='Slideshow plugin in module')
                img(src='#{getHost()}/images/portfolio/jphoto/highslide-gallery-thumbnails.jpg', alt='Gallery view using HighSlide plugin')
                img(src='#{getHost()}/images/portfolio/jphoto/highslide-gallery.jpg', alt='HighSlide image view')
                img(src='#{getHost()}/images/portfolio/jphoto/gallery-management.jpg', alt='Gallery management')
                img(src='#{getHost()}/images/portfolio/jphoto/images-uploading.jpg', alt='Uploading images')
                img(src='#{getHost()}/images/portfolio/jphoto/jphoto-configuration.jpg', alt='JPhoto Configuration view')

        article
            p I developed this extension from the ground up. I had the idea of building a powerful and extensible image gallery extension for Joomla!.
            p
                | JPhoto contains many features, for example it has the ability to upload multiple images at once, after images have been uploaded it makes it easy to edit them all after uploading without having to edit each one individually. JPhoto has the ability to extract 
                a(href='http://en.wikipedia.org/wiki/Exchangeable_image_file_format', title='Exchangeable image file format') exif
                |  data from images and display it. JPhoto will intelligently re-seize images into multiple different sizes so that the appropriate image is used for the different views that exist.
            p JPhoto has the ability to extend the display of the gallery view when a gallery is displayed in a module view or the component view. This is done with plugins, I created an API so that 3rd party developers can create plugins for JPhoto.
            p I developed this extension in 2009 on my free time, when it was complete it was released as a 'corePHP' product. I'm no longer the lead developer for this extension,  JPhoto is now being developed by another developer at 'corePHP' since the release of version 2.0.
            p: strong Other notable points:
            ul
                li OOP PHP and JavaScript
                li MVC architecture
                li MySQL
                li jQuery and HighSlide
                li GIT
                li Phing
            p: strong Further links:
            p
                | - 
                a(href='http://www.corephp.com/joomla-products/jphoto.html', title='JPhoto – corePHP')
                    | http://www.corephp.com/joomla-products/jphoto.html
                    br
                | - 
                a(href='http://extensions.joomla.org/extensions/photos-a-images/galleries/photo-gallery/10365', title='JPhoto - JED') JPhoto on the Joomla Extensions Directory
